

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.right {
    margin: auto 5px;
    float: right;
}

.left {
    margin: auto 5px;
    float: left;
    
}

#speech-bubble {
    width: 300px;
    margin: 50px auto;
    border: 4px solid #8b4513;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #f4a460;
    font-family: monaco;
    position: relative;
  }

  #donate-container {
    float: left;
    position: fixed;
    left: 10px;
    top: 550px;
  }
 
  #cont1 {
    float: left;
    position: fixed;
    left: 10px;
    top: 550px;
  }

  #cont2 {
    float: left;
    position: fixed;
    left: 150px;
    top: 550px;
  }

  #cont3 {
    float: left;
    position: fixed;
    left: 300px;
    top: 550px;
  }
  
  .bugDiv {
    
    cursor: pointer;

  }